@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --background-color: #fafafa;
    --text-color: #333;
  }
  #darkmode-dummy {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fafafa;
  }
  #darkmode-dummy {
    position: fixed;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    display: block;
  }
}
