@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --link-color: #007bff;
  }
  #darkmode-dummy {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #343a40;
    --text-color: #f8f9fa;
    --link-color: #809fff;
  }
  #darkmode-dummy {
    position: fixed;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    display: block;
  }
}
